DATABASE_URL="POSTGRES_URL"
AUTH_SECRET="super-secret-auth-key-change-in-prod"
MINIO_INTERNAL_ENDPOINT="localhost"
MINIO_PUBLIC_ENDPOINT="localhost"
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin"
MINIO_BUCKET="resourcedrop-bucket"
MINIO_USE_SSL="false"
